<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213811827453-6fa18e704o33jpviek1a6irnibv0nos2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213811827453-6fa18e704o33jpviek1a6irnibv0nos2</string>
	<key>API_KEY</key>
	<string>AIzaSyAtnaKtfXO1x8c8mM3Qqun5MTcxCOgRtZo</string>
	<key>GCM_SENDER_ID</key>
	<string>213811827453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wordling</string>
	<key>PROJECT_ID</key>
	<string>wordling-d49b8</string>
	<key>STORAGE_BUCKET</key>
	<string>wordling-d49b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213811827453:ios:b67ad7d69a3dab0240e494</string>
</dict>
</plist>